<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768067207401-6csefbks05cotu2qck4c1k39umpj5nhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768067207401-6csefbks05cotu2qck4c1k39umpj5nhe</string>
	<key>API_KEY</key>
	<string>AIzaSyC68qE3DenMw_gUT8BrzZ7Z7vh97b7Q_Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>768067207401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betApp</string>
	<key>PROJECT_ID</key>
	<string>bet-app-c4450</string>
	<key>STORAGE_BUCKET</key>
	<string>bet-app-c4450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768067207401:ios:84e911d0878e625489f078</string>
</dict>
</plist>